<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thrj.Mapper.MovieMapper">

    <!--번호로 넘겨받았을때 -->
   	<select id="animeDetails" resultType="com.thrj.Entity.Movies" parameterType="int">
   	   	    <![CDATA[
	    		select 
	    			movie_seq
	    		  , movie_title
	    		  , movie_content
	    		  , movie_img
	    		  , movie_type
	    		  , movie_open_date
	    		  , movie_rating
	    		  , movie_runtime
	    		  , movie_actor
	    		  , movie_country
	    		  , admin_id
	    	      , movie_cnt
	    		  , movie_participate
	    		from movies where movie_seq = #{movie_seq}
	    	]]>
	</select>
	
    <!--List -->	
   	<select id="movieList" resultType="com.thrj.Entity.Movies">
   	    <![CDATA[
	     select 
	     	movie_seq
	      , movie_title
	      , movie_content
	      , movie_img
	      , movie_type
	      , movie_open_date
	      , movie_rating
	      , movie_runtime
	      , movie_actor
	      , movie_country
	      , admin_id
	      , movie_cnt
	      , movie_participate
	     from movies limit 0,3
	     ]]>	
	</select> 
	
   	    <!--Similar Genre List -->	
   	<select id="movieGenreList" parameterType="com.thrj.Entity.Movies" resultType="com.thrj.Entity.Movies">
   	 <![CDATA[   
	    select 
	      movie_seq
	      , movie_title
	      , movie_content
	      , movie_img
	      , movie_type
	      , movie_open_date
	      , movie_rating
	      , movie_runtime
	      , movie_actor
	      , movie_country
	      , admin_id
	      , movie_cnt
	      , movie_participate
	    from movies
	    where movie_type like concat('%', #{movie_type}, '%')
	    and movie_seq != #{movie_seq}
	    order by movie_seq desc
	    LIMIT 0,4
 	   ]]>	
	</select>
	
   	<!-- 배너 -->
   	<select id="bannerList" resultType="com.thrj.Entity.Movies">
   	 <![CDATA[
        select 
          movie_seq
	      , movie_title
	      , movie_content
	      , movie_img
	      , movie_type
	      , movie_open_date
	      , movie_rating
	      , movie_runtime
	      , movie_actor
	      , movie_country
	      , admin_id
	      , movie_cnt
	      , movie_participate
        from movies 
		WHERE movie_cnt > 0
 		order by movie_cnt desc 
 		limit 0,3
 	   ]]>	
   </select>
	
   	<!-- 카운팅  -->
	<update id="raiseLookupCount" parameterType="int">
	  <![CDATA[
        update movies 
        set movie_cnt = movie_cnt+1 
        where movie_seq = #{movie_seq}
        ]]>	
	</update>
	
	<!-- 배너 하나씩 추출할때 -->
   	<select id="bannerOne" resultType="com.thrj.Entity.Movies">
   	   <![CDATA[
       select 
	     movie_seq
	     , movie_title
	     , movie_type
	     , movie_content
	     , movie_img
	     , movie_rating
	     , movie_open_date 
      from movies 
      order by movie_cnt desc
	  limit 1
	  		]]>
   </select>
	
	<!-- 페이징 -->
	<select id="getTotalRowCount" parameterType="com.thrj.Entity.Paging" resultType="int">
	    select count(*) from movies
	</select>
	
	<select id="getPageList" resultType="com.thrj.Entity.Movies" parameterType="com.thrj.Entity.Paging">
	    select @rownum:=@rownum+1 as no, m.*
		from movies m
		limit #{firstRow},#{lastRow};
	</select>
	
	<update id="updateStarRating" parameterType="com.thrj.Entity.Movies">
	    update movies
	    set movie_participate = movie_participate + 1, movie_rating = movie_rating + #{movie_rating}*2 / movie_participate
	    where movie_seq = #{movie_seq}
	    
	</update> 
	
	
	<select id="historySeq" parameterType="string" resultType="com.thrj.Entity.Movies">
	      <![CDATA[
	    select 
	          m.*
	        from movies m,members u,history h
           where m.movie_seq =h.movie_seq
             and u.mb_id =h.mb_id
             and h.mb_id = #{mb_id}
           order by h.history_date  desc
           LIMIT 4
		]]>
	</select>
	
	
</mapper>