<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>스크립트테스트</title>
   
</head>
<body>

<div class="container">
    <div class="boxOffice">
        <h2 class="boxOfficeType"></h2>
        <p class="showRange"></p>
    </div>
    <!-- 예고편 -->
</div>


<script>
    var api_key = "9d58f50eea3bc0cebe233c422bbef69e";
	var tmdb_url = "https://image.tmdb.org/t/p/w500/";
    var tmdb_key= "f9a5e15b3b0e1e90e656e39bf714f0a3";
	let y = ( d => new Date(d.setDate(d.getDate() -1)))(new Date); //어제 날짜 구하기
    y = y.getFullYear()+""+(y.getMonth()+1)+""+ y.getDate();
    var date = y; //어제 날짜를 넣어 준다.
    var apiUrl = `http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=${tmdb_key}&targetDt=${date}`;
    window.addEventListener('load', () => {

    	const apiXhr = new XMLHttpRequest(); //리퀘스트 객체를 만든다.
    	apiXhr.onreadystatechange = function(){
            if(apiXhr.readyState == 4 && xhr.status == 200){
                var jsonObj = JSON.parse(xhr.response); 
			    var searchUrl = "https://api.themoviedb.org/3/search/movie?api_key="+api_key+"&language=ko-Kr&page=1&include_adult=false&query="+movieList[0].movieNm;
                
           
                fetch(searchUrl)
                .then(res => res.json())
                .then(function(res){
            		
                	//한개씩 랭킹1위 내용을 가져온다.
                	
                })
                .catch(erro => console.log(error));
        	
                
                
                
               

            }

        }
    	apiXhr.open('GET', apiUrl, true);
    	apiXhr.send();
    });

</script>
</body>
</html>